crypto-analyzer-simple.json
{
	"name": "Crypto Analyzer - Simple",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "GET",
				"path": "analyze",
				"responseMode": "onReceived",
				"options": {}
			},
			"id": "webhook-trigger",
			"name": "Webhook Trigger",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2,
			"position": [100, 300],
			"webhookId": "crypto-analyzer"
		},
		{
			"parameters": {
				"functionCode": "// Получение символа из query параметра\nconst query = $input.first().json.query || {};\nconst symbol = (query.symbol || 'ETHUSDT').toUpperCase();\n\nreturn [{ json: { symbol } }];"
			},
			"id": "parse-symbol",
			"name": "Parse Symbol",
			"type": "n8n-nodes-base.function",
			"typeVersion": 1,
			"position": [300, 300]
		},
		{
			"parameters": {
				"url": "https://api.binance.com/api/v3/klines",
				"queryParameters": {
					"parameters": [
						{
							"name": "symbol",
							"value": "={{ $json.symbol }}"
						},
						{
							"name": "interval",
							"value": "1m"
						},
						{
							"name": "limit",
							"value": 100
						}
					]
				}
			},
			"id": "candles-1m",
			"name": "1m",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [500, 150]
		},
		{
			"parameters": {
				"url": "https://api.binance.com/api/v3/klines",
				"queryParameters": {
					"parameters": [
						{
							"name": "symbol",
							"value": "={{ $json.symbol }}"
						},
						{
							"name": "interval",
							"value": "5m"
						},
						{
							"name": "limit",
							"value": 100
						}
					]
				}
			},
			"id": "candles-5m",
			"name": "5m",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [500, 300]
		},
		{
			"parameters": {
				"url": "https://api.binance.com/api/v3/klines",
				"queryParameters": {
					"parameters": [
						{
							"name": "symbol",
							"value": "={{ $json.symbol }}"
						},
						{
							"name": "interval",
							"value": "1h"
						},
						{
							"name": "limit",
							"value": 100
						}
					]
				}
			},
			"id": "candles-1h",
			"name": "1h",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [500, 450]
		},
		{
			"parameters": {
				"url": "https://api.binance.com/api/v3/depth",
				"queryParameters": {
					"parameters": [
						{
							"name": "symbol",
							"value": "={{ $json.symbol }}"
						},
						{
							"name": "limit",
							"value": 50
						}
					]
				}
			},
			"id": "orderbook",
			"name": "Order Book",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [500, 600]
		},
		{
			"parameters": {
				"functionCode": "const items = $input.all();\nconst symbol = items[0].json.symbol;\n\n// Парсинг свечей\nfunction parseCandles(data) {\n  return data.map(c => ({\n    open: parseFloat(c[1]),\n    high: parseFloat(c[2]),\n    low: parseFloat(c[3]),\n    close: parseFloat(c[4]),\n    volume: parseFloat(c[5])\n  }));\n}\n\n// Анализ свечей\nfunction analyze(candles, tf) {\n  if (!candles || candles.length < 20) return { direction: 'NEUTRAL', score: 0 };\n  \n  const c = candles[candles.length - 1];\n  const prev = candles[candles.length - 2];\n  \n  let bull = 0, bear = 0;\n  \n  // Объём\n  const avgVol = candles.slice(-20).reduce((s, x) => s + x.volume, 0) / 20;\n  if (c.volume > avgVol * 1.5) {\n    c.close > c.open ? bull += 2 : bear += 2;\n  }\n  \n  // Тело свечи\n  const body = Math.abs(c.close - c.open);\n  const range = c.high - c.low;\n  if (range > 0 && body / range > 0.7) {\n    c.close > c.open ? (bull += 3, bull += ' Marubozu') : (bear += 3, bear += ' Marubozu');\n  }\n  \n  // Тени\n  const lower = Math.min(c.open, c.close) - c.low;\n  const upper = c.high - Math.max(c.open, c.close);\n  if (lower > body * 2) bull += 2;\n  if (upper > body * 2) bear += 2;\n  \n  // RSI\n  let gains = [], losses = [];\n  for (let i = Math.max(1, candles.length - 14); i < candles.length; i++) {\n    const diff = candles[i].close - candles[i-1].close;\n    diff > 0 ? gains.push(diff) : losses.push(-diff);\n  }\n  const avgG = gains.length ? gains.reduce((a,b)=>a+b,0)/14 : 0;\n  const avgL = losses.length ? losses.reduce((a,b)=>a+b,0)/14 : 0;\n  const rsi = 100 - (100 / (1 + avgG/(avgL||1)));\n  if (rsi < 30) bull += 2;\n  else if (rsi > 70) bear += 2;\n  \n  // EMA\n  const ema9 = candles.slice(-9).reduce((s, x) => s + x.close, 0) / 9;\n  const ema21 = candles.slice(-21).reduce((s, x) => s + x.close, 0) / 21;\n  if (ema9 > ema21) bull += 2;\n  else bear += 2;\n  \n  const total = bull + bear;\n  let dir = 'NEUTRAL';\n  if (bull > bear * 1.3 && total > 4) dir = 'LONG';\n  else if (bear > bull * 1.3 && total > 4) dir = 'SHORT';\n  \n  return { direction: dir, score: Math.max(bull, bear), rsi: Math.round(rsi) };\n}\n\n// Анализ стакана\nfunction analyzeOB(ob) {\n  if (!ob || !ob.bids || !ob.asks) return { direction: 'NEUTRAL', score: 0 };\n  \n  const bid1 = parseFloat(ob.bids[0][1]);\n  const ask1 = parseFloat(ob.asks[0][1]);\n  const dom = (bid1 - ask1) / (bid1 + ask1);\n  \n  let score = 0;\n  if (dom > 0.3) score = 3;\n  else if (dom > 0.1) score = 1;\n  else if (dom < -0.3) score = -3;\n  else if (dom < -0.1) score = -1;\n  \n  const dir = score > 0 ? 'LONG' : score < 0 ? 'SHORT' : 'NEUTRAL';\n  \n  return { direction: dir, score: Math.abs(score), spread: ((parseFloat(ob.asks[0][0]) - parseFloat(ob.bids[0][0])) / ((parseFloat(ob.asks[0][0]) + parseFloat(ob.bids[0][0])) / 2) * 100).toFixed(4) };\n}\n\n// Найти данные\nlet candles1m = [], candles5m = [], candles1h = [], ob = {};\n\nfor (const item of items) {\n  if (item.json[0] && item.json[0][1]) candles1m = parseCandles(item.json);\n  else if (item.json[0] && item.json[0][4] && !item.json.spread) candles5m = parseCandles(item.json);\n  else if (item.json[0] && item.json[0][4] && candles5m.length === 0) candles5m = parseCandles(item.json);\n  else if (item.json.bids) ob = item.json;\n}\n\n// Повторный запрос если не получены\nif (candles1m.length === 0) {\n  const resp1m = await $http.request({ method: 'GET', url: `https://api.binance.com/api/v3/klines?symbol=${symbol}&interval=1m&limit=100` });\n  candles1m = parseCandles(resp1m.json);\n}\n\nconst a1m = analyze(candles1m, '1m');\nconst a5m = analyze(candles5m, '5m');\nconst a1h = analyze(candles1h, '1h');\nconst aob = analyzeOB(ob);\n\n// Итог\nconst dirs = [a1m.direction, a5m.direction, a1h.direction, aob.direction];\nconst longs = dirs.filter(d => d === 'LONG').length;\nconst shorts = dirs.filter(d => d === 'SHORT').length;\n\nlet finalDir = 'WAIT';\nlet conf = 0;\n\nif (longs >= 2) { finalDir = 'LONG'; conf = Math.min(0.85, 0.5 + longs * 0.12); }\nelse if (shorts >= 2) { finalDir = 'SHORT'; conf = Math.min(0.85, 0.5 + shorts * 0.12); }\n\nreturn [{ json: {\n  symbol,\n  analysis: { '1m': a1m, '5m': a5m, '1h': a1h, orderbook: aob },\n  final: { direction: finalDir, confidence: Math.round(conf * 100) / 100 },\n  timestamp: new Date().toISOString()\n} }];"
			},
			"id": "analyze-all",
			"name": "Analyze All",
			"type": "n8n-nodes-base.function",
			"typeVersion": 1,
			"position": [700, 300]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ $json }}"
			},
			"id": "respond",
			"name": "Respond",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [900, 300]
		}
	],
	"connections": {
		"Webhook Trigger": {
			"main": [[{ "node": "Parse Symbol", "type": "main", "index": 0 }]]
		},
		"Parse Symbol": {
			"main": [
				[
					{ "node": "1m", "type": "main", "index": 0 },
					{ "node": "5m", "type": "main", "index": 0 },
					{ "node": "1h", "type": "main", "index": 0 },
					{ "node": "Order Book", "type": "main", "index": 0 }
				]
			]
		},
		"1m": { "main": [[{ "node": "Analyze All", "type": "main", "index": 0 }]] },
		"5m": { "main": [[{ "node": "Analyze All", "type": "main", "index": 0 }]] },
		"1h": { "main": [[{ "node": "Analyze All", "type": "main", "index": 0 }]] },
		"Order Book": { "main": [[{ "node": "Analyze All", "type": "main", "index": 0 }]] },
		"Analyze All": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
	}
}
